

/* Bus line css large start */

@media all and (min-width: 375px) {

  //index
  /* The side navigation menu */

  .info_message {
    display:inline-block;
    text-align: left;
    width: 310px;
  }

  .info_title{
    color: white;
    margin-top: 40px;
  }

  .info_message p{
    font-size: 13px;
  }

  .title_line{
    width: 40px;
    border-bottom: 2px solid white;
    margin-top: 15px;
  }

  .info_howto{
    margin-top: 40px;
    color: white;
  }

  .info_message h4{
    margin-bottom:20px;
  }

  .info_howto p{
    font-size: 12px;
    margin: 10px 0 10px 0;
  }

  .info_contact{
    margin-top: 40px;
    color: white;
  }

  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 900; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
  }

  .sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .navbar-default {
    border: none!important;

  }

  .nav_ic_div{
    width: 100%;
    position: relative;
  }

  .nav_ic_left{
    width: 30px;
    height: 30px;
    float: left;
    position:relative;
    margin: 10px 0px 0px 20px;
  }

  .nav_ic_left img{
    width: 26px;
  }

  .nav_ic_right img{
    width: 28px;
    height: 28px;
  }

  .nav_ic_right{
    width: 30px;
    height: 30px;
    float: right;
    position:relative;
    margin: 10px 20px 0 0;
  }

  .nav_ic_right img{
    width: 26px;
    height: 26px;
  }

  .navbar-header a{

  }

  .arrow_go{
    display:inline-block !important;
    width:22px;
    height:22px;
    margin-top: -2px;
    margin-left: 10px;

  }

  .nav_ic_back{
    width: 30px;
    height: 30px;
    float: left;
    position:relative;
    margin: 10px 0px 0px 20px;
  }

  .nav_ic_back img{
    height: 22px;
  }

  ul li{
    list-style-type: none;
  }

  .bus_line_container{
    text-align: center;
    position: relative;
    z-index: 10;
  }

  .bus_line{
    margin-top: 95px;
    width: 300px;
    height: 370px;
    border: 2px solid #c4c5c7;
    border-radius: 50px;
    display: inline-block;
    box-sizing: border-box;
  }


  .bus_station_section1{
    clear: both;
    width: 250px;
    margin-left: 20px;
    margin-top: -25px;
  }

  .bus_station_section2{
    clear: both;
    float: left;
    margin-top: 50px;
    width: 339px;
    margin-left: -20px;
  }

  .bus_station_section3{
    clear: both;
    float: left;
    margin-top: 23px;
    width: 339px;
    margin-left: -20px;
  }

  .bus_station_section4{
    clear: both;
    float: left;
    margin-top: 23px;
    width: 339px;
    margin-left: -20px;
  }

  .bus_station_section5{
    clear: both;
    float: left;
    width: 339px;
    margin-left: -20px;
    margin-top: 23px;
  }

  .bus_station_section6{
    clear: both;
    float: left;
    width: 339px;
    margin-left: -20px;
    margin-top: 23px;
  }

  .bus_station_section7{
    clear: both;
    float: left;
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;

  }

  .s1{
    float: left;
    width: 41px;
    height: 41px;
    position: relative;
    border: 2px solid #c4c5c7;
    border-radius: 50%;
  }

  .s2{
    float: left;
    width: 41px;
    height: 41px;
    position: relative;
    /*border: 2px solid #c4c5c7;
    border-radius: 50%;*/
  }

  .bus_ic_dep{
    z-index: 30;
    width:65px;
    position: relative;
    top: 27px;
    left: -13.5px;
    /*display: none;*/
  }

  .bus_ic_dep img{
    margin-top: -40px;
    width:60px;
    position:relative;
  }


  .bus_ic_station{
    z-index: 30;
    width:65px;
    top: -46px;
    left: -14px;
    position: relative;
  }

  .bus_ic_station img{
    width:60px;
    position:relative;
  }

  .bus_number1{
    position:relative;
    font-size:10px;
    top: -9px;
    color: #78A31D;
  }

  .bus_number2{
    position:relative;
    font-size:10px;
    top: -18px;
    color: #78A31D;
  }

  .bus_dep1{
    margin-left: 0px;
  }

  .bus_station_sequence1{
    margin-left: 65px;
    background-color: #ffffff;

  }

  .sequence1_arrow{
    width: 37px;
    height: 37px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);;

  }

  .bus_dep4{
    float: left;
  }

  .bus_dep6{
    float: right;
  }

  .bus_dep8{
    float: right;
  }

  .bus_dep9{
    float: right;
  }


  .bus_dep10{
    float: right;
  }

  .bus_station_sequence2{
    background-color: #ffffff;

  }

  .sequence2_arrow{
    width: 37px;
    height: 37px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);;

  }


  .bus_station_sequence10{
    float: right;
    background-color: #ffffff;

  }

  .sequence10_arrow{
    width: 37px;
    height: 37px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);;

  }

  .bus_station_sequence3{
    background-color: #ffffff;

  }

  .bus_station_sequence9{
    float: right;
    background-color: #ffffff;

  }


  .bus_station_sequence4{
    background-color: #ffffff;

  }

  .bus_station_sequence8{
    float: right;
    background-color: #ffffff;

  }


  .bus_station_sequence6{
    background-color: #ffffff;
    margin-left: 65px;

  }

  .sequence6_arrow{
    width: 37px;
    height: 37px;
    position:relative;

  }


  .bus_info_container{
    clear: both;
    text-align: center;
    position: relative;
    margin-top: -494px;
  }

  .bus_info{
    clear: both;
    margin-top: 90px;
    width: 255px;
    height: 370px;
    /*border: 2px solid red;*/
    border-radius: 50px;
    display: inline-block;
    box-sizing: border-box;
    z-index: 50;
  }

  .bus_info_section1{
    clear: both;
    margin-top: 70px;
    text-align: center;
    position: relative;
  }

  .bus_info_section2{
    margin-top: -25px;
    float: left;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    width: inherit;
  }

  .bus_info_section3{
    clear:both;
    margin-top: 50px;
    float: left;
    position: relative;
    box-sizing: border-box;
    z-index: 60;
    text-align: center;
    width: inherit;
  }

  .bus_info_section4{
    clear:both;
    margin-top: 45px;
    float: left;
    position: relative;
    box-sizing: border-box;
    z-index: 60;
    text-align: center;
    width: inherit;
  }

  .bus_info_section5{
    clear: both;
    float: left;
    margin-top: 80px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    z-index: 60;
    text-align: center;
    width: inherit;
  }


  .bus_info_name1{
    width: 90px;
    display: inline-block;
    z-index: 60;
  }

  .bus_info_name2{
    float: left;
    width: 90px;
    position:relative;
    z-index: 53;
  }

  .bus_info_name10{
    float: right;
    width: 90px;
    position:relative;
    z-index: 53;
  }

  .bus_info_name3{
    float: left;
    width: 90px;
    position:relative;
  }

  .bus_info_name9{
    float: right;
    width: 90px;
    position:relative;
  }

  .bus_info_name4{
    float: left;
    width: 90px;
    position:relative;
  }

  .bus_info_name8{
    float: right;
    width: 90px;
    position:relative;
  }

  .bus_info_name6{
    width: 90px;
    display: inline-block;
  }


  .info_name{
    margin: 0px;
    font-size: 12px;
    color: #595c60;
  }

  .info_name a{
    color: #595c60;
  }

  .info_arrival{
    margin: 0px;
    font-size: 13px;
    color: #E8802C;
    letter-spacing: -1.2px;
  }

  .info_detail{
    width:  62px;
    padding: 1px;
    font-weight: 200;
    border-radius: 2px;
    display: inline-block;
    color: #ffffff;
    background-color: #9399a0;
  }

  .info_detail p{
    margin: 0px;
    font-size: 11px;
  }

  .button_refresh{
    /*border: 1px solid;*/
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    float: left;
    top: -60px;
    left: 250px;
    margin-left: -30px;
    z-index: 700;
  }

  .button_refresh img{
    width: 65px;
    height: 65px;
  }

}

/* Bus line css large end */

/* Bus line css small start */

@media all and (max-width: 374px) {

  //index
  /* The side navigation menu */

  .info_message {
    display:inline-block;
    text-align: left;
    width: 310px;
  }

  .info_title{
    color: white;
    margin-top: 40px;
    margin-left: 10px;
  }

  .info_message p{
    font-size: 12px;
  }

  .title_line{
    width: 40px;
    border-bottom: 2px solid white;
    margin-top: 15px;
  }

  .info_howto{
    margin-top: 40px;
    color: white;
    margin-left: 10px;
  }

  .info_message h4{
    margin-bottom:20px;
  }

  .info_howto p{
    margin: 10px 0 10px 0;
  }

  .info_contact{
    margin-top: 40px;
    color: white;
    margin-left: 10px;
  }

  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 900; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
  }

  .sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .navbar-default {
    border: none!important;

  }

  .nav_ic_div{
    width: 100%;
    position: relative;
  }

  .nav_ic_left{
    width: 30px;
    height: 30px;
    float: left;
    position:relative;
    margin: 10px 0px 0px 20px;
  }

  .nav_ic_left img{
    width: 26px;
  }

  .nav_ic_right img{
    width: 28px;
    height: 28px;
  }

  .nav_ic_right{
    width: 30px;
    height: 30px;
    float: right;
    position:relative;
    margin: 10px 20px 0 0;
  }

  .nav_ic_right img{
    width: 26px;
    height: 26px;
  }

  .navbar-header a{

  }

  .arrow_go{
    display:inline-block !important;
    width:22px;
    height:22px;
    margin-top: -2px;
    margin-left: 10px;

  }

  .nav_ic_back{
    width: 30px;
    height: 30px;
    float: left;
    position:relative;
    margin: 10px 0px 0px 20px;
  }

  .nav_ic_back img{
    height: 22px;
  }

  ul li{
    list-style-type: none;
  }

  .bus_line_container{
    text-align: center;
    position: relative;
    z-index: 10;
  }

  .bus_line{
    margin-top: 85px;
    width: 270px;
    height: 370px;
    border: 2px solid #c4c5c7;
    border-radius: 50px;
    display: inline-block;
    box-sizing: border-box;
  }


  .bus_station_section1{
    clear: both;
    width: 250px;
    margin-left: 10px;
    margin-top: -20px;
  }

  .bus_station_section2{
    clear: both;
    float: left;
    margin-top: 50px;
    width: 302px;
    margin-left: -18px;
  }

  .bus_station_section3{
    clear: both;
    float: left;
    margin-top: 15px;
    width: 302px;
    margin-left: -18px;
  }

  .bus_station_section4{
    clear: both;
    float: left;
    margin-top: 15px;
    width: 302px;
    margin-left: -18px;
  }

  .bus_station_section5{
    clear: both;
    float: left;
    width: 302px;
    margin-left: -18px;
    margin-top: 15px;
  }

  .bus_station_section6{
    clear: both;
    float: left;
    width: 302px;
    margin-left: -18px;
    margin-top: 15px;
  }

  .bus_station_section7{
    clear: both;
    float: left;
    width: 250px;
    margin-top: 30px;
    margin-left: 10px;

  }

  .s1{
    float: left;
    width: 35px;
    height: 35px;
    position: relative;
    border: 2px solid #c4c5c7;
    border-radius: 50%;
  }

  .s2{
    float: left;
    width: 41px;
    height: 41px;
    position: relative;
    /*border: 2px solid #c4c5c7;
    border-radius: 50%;*/
  }

  .bus_ic_dep{
    z-index: 30;
    width: 60px;
    position: relative;
    top: 27px;
    left: -13.5px;
    /*display: none;*/
  }

  .bus_ic_dep img{
    margin-top: -40px;
    width: 55px;
    position:relative;
  }


  .bus_ic_station{
    z-index: 30;
    width: 60px;
    top: -43px;
    left: -15px;
    position: relative;
  }

  .bus_ic_station img{
    width: 55px;
    position:relative;
  }

  .bus_number1{
    position:relative;
    font-size:10px;
    top: -9px;
    color: #78A31D;
  }

  .bus_number2{
    position:relative;
    font-size:10px;
    top: -18px;
    color: #78A31D;
    display: none;
  }

  .bus_dep1{
    margin-left: 0px;
  }

  .bus_station_sequence1{
    margin-left: 65px;
    background-color: #ffffff;

  }

  .sequence1_arrow{
    width: 32px;
    height: 32px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);;

  }

  .bus_dep4{
    float: left;
  }

  .bus_dep6{
    float: right;
  }

  .bus_dep8{
    float: right;
  }

  .bus_dep9{
    float: right;
  }


  .bus_dep10{
    float: right;
  }

  .bus_station_sequence2{
    background-color: #ffffff;

  }

  .sequence2_arrow{
    width: 32px;
    height: 32px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);;

  }


  .bus_station_sequence10{
    float: right;
    background-color: #ffffff;

  }

  .sequence10_arrow{
    width: 32px;
    height: 32px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);;

  }

  .bus_station_sequence3{
    background-color: #ffffff;

  }

  .bus_station_sequence9{
    float: right;
    background-color: #ffffff;

  }


  .bus_station_sequence4{
    background-color: #ffffff;

  }

  .bus_station_sequence8{
    float: right;
    background-color: #ffffff;

  }


  .bus_station_sequence6{
    background-color: #ffffff;
    margin-left: 65px;

  }

  .sequence6_arrow{
    width: 32px;
    height: 32px;
    position:relative;

  }


  .bus_info_container{
    clear: both;
    text-align: center;
    position: relative;
    margin-top: -494px;
  }

  .bus_info{
    clear: both;
    margin-top: 90px;
    width: 250px;
    height: 370px;
    /*border: 2px solid red;*/
    border-radius: 50px;
    display: inline-block;
    box-sizing: border-box;
    z-index: 50;
  }

  .bus_info_section1{
    clear: both;
    margin-top: 70px;
    text-align: center;
    position: relative;
  }

  .bus_info_section2{
    margin-top: -25px;
    float: left;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    width: inherit;
  }

  .bus_info_section3{
    clear:both;
    margin-top: 50px;
    float: left;
    position: relative;
    box-sizing: border-box;
    z-index: 60;
    text-align: center;
    width: inherit;
  }

  .bus_info_section4{
    clear:both;
    margin-top: 45px;
    float: left;
    position: relative;
    box-sizing: border-box;
    z-index: 60;
    text-align: center;
    width: inherit;
  }

  .bus_info_section5{
    clear: both;
    float: left;
    margin-top: 80px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    z-index: 60;
    text-align: center;
    width: inherit;
  }


  .bus_info_name1{
    width: 90px;
    display: inline-block;
    z-index: 60;
    margin-right: 8px;
    margin-top: -10px;
  }

  .bus_info_name2{
    float: left;
    width: 90px;
    position:relative;
    z-index: 53;
  }

  .bus_info_name10{
    float: right;
    width: 90px;
    position:relative;
    z-index: 53;
    margin-right:5px;
  }

  .bus_info_name3{
    float: left;
    width: 90px;
    position:relative;
  }

  .bus_info_name9{
    float: right;
    width: 90px;
    position:relative;
  }

  .bus_info_name4{
    float: left;
    width: 90px;
    position:relative;
  }

  .bus_info_name8{
    float: right;
    width: 90px;
    position:relative;
  }

  .bus_info_name6{
    width: 90px;
    display: inline-block;
  }


  .info_name{
    margin: 0px;
    font-size: 12px;
    color: #595c60;
  }

  .info_name a{
    color: #595c60;
  }

  .info_arrival{
    margin: 0px;
    font-size: 13px;
    color: #E8802C;
    letter-spacing: -1.2px;
  }

  .info_detail{
    width:  62px;
    padding: 1px;
    font-weight: 200;
    border-radius: 2px;
    display: inline-block;
    color: #ffffff;
    background-color: #9399a0;
  }

  .info_detail p{
    margin: 0px;
    font-size: 11px;
  }

  .button_refresh{
    /*border: 1px solid;*/
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    float: left;
    top: -50px;
    left: 240px;
    margin-left: -30px;
    z-index: 700;
  }

  .button_refresh img{
    width: 60px;
    height: 60px;
  }

}

/* Bus line css small end */


/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Bus line css large end */

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



//show

@media all and (min-width : 361px) {



  .padding_bottom {
    padding-bottom: 30px;
  }

  .timetable_box{
    margin-top: 70px;
    text-align: center;
    box-shadow: 3;
    background-color: #f9fbfc;
  }

  .boards_box{
    margin-top: 0px;
    display: inline-block;
    width:345px;
    height: 150px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border:0px solid gray;
    background-color:white;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px gray;
  }

  .boards_box_1{
    display: inline-block;
    width:345px;
    height: 180px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border:0px solid gray;
    background-color:white;
    margin-bottom: 10px;
    box-shadow : 0 0 5px gray;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .boards_box2{
    display: inline-block;
    width: 345px;
    height: 200px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border:0px solid gray;
    background-color:white;
    box-shadow : 0 0 5px gray;
  }


  div table tbody .table_height {
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
  }

  div table tbody .table_height_2 {
    height: 30px;
  }

  div table tbody .table_height_3 {
    height: 40px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }

  div table tbody .table_height_4 {
    text-align: center;
    height: 50px;
  }

  div div .board_header {
    padding-left: 0px;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
  }

  .schedule_bus{
    margin-right:10px;
    width:22px;
    height:26px;
  }

  .color_blue {
    color: #06467c;
    font-weight: 900;
  }

  .dongurami_1 {
    margin-left: 10px;
    bottom: 14px;
    float: left;
    width: 30px;
    height:  30px;
    position: relative;
    border: 2px solid #bababa;
    border-radius: 50%;
    position: relative;
    background-color: #ffffff
  }

  .dongurami_2 {
    margin-left: 37px;
    bottom: 14px;
    float: left;
    width: 30px;
    height:  30px;
    position: relative;
    border: 2px solid #bababa;
    border-radius: 50%;
    position: relative;
    background-color: #ffffff
  }

  .station_line {
    display: block;
    height: 2px;
    border-top: 2px solid #ccc;
    width: 280px;
    position: relative;
    z-index: 10;
    top: 25px;
  }

  .word_chunk {
    border: 0px solid;
    width: 50px;
    z-index: 50;
    float: left;
    font-size: 10px;
    margin-left: -6px;
  }

  .word_chunk_2 {
    top: -50px;
    margin-left: 17px;
    border: 0px solid;
    width: 57px;
    z-index: 55;
    float: left;
    font-size: 10px;
  }

  .word_chunk_3 {
    top: -50px;
    margin-left: 9px;
    border: 0px solid;
    width: 57px;
    z-index: 55;
    float: left;
    font-size: 10px;
  }

  .word_chunk_4 {
    top: -50px;
    margin-left: 11px;
    border: 0px solid;
    width: 57px;
    z-index: 55;
    float: left;
    font-size: 10px;
  }
  .word_line_1st {
    top: -8px;
    position: relative;
    z-index: 99;
    margin-bottom: 0;
    margin-top: 0px;
    width: 65px;
    font-size: 12px;
  }

  .word_line_2nd {
    position: relative;
    z-index: 30;
    margin-top: -11px;
    margin-bottom: 0;
    width: 65px;
    font-size: 12px;
  }

  .word_line_3rd {
    position: relative;
    z-index: 30;
    margin-top: -3px;
    margin-bottom: 0;
    width: 65px;
  }

  .img_class {
    margin-top: 4px;
    height: 20px;
    width: 20px;
  }

}

@media all and (max-width : 360px) {

  .padding_bottom {
    padding-bottom: 25px;
  }

  .timetable_box{
    margin-top: 70px;
    text-align: center;
    box-shadow: 3;
    background-color: #f9fbfc;
  }

  .boards_box{
    margin-top: 0px;
    display: inline-block;
    width:300px;
    height: 130px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border:0px solid gray;
    background-color:white;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow : 0 0 5px gray;
  }

  .boards_box_1{
    display: inline-block;
    width:  300px;
    height: 150px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border:0px solid gray;
    background-color:white;
    margin-bottom: 10px;
    box-shadow : 0 0 5px gray;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .boards_box2{
    display: inline-block;
    width: 300px;
    height: 160px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border:0px solid gray;
    background-color:white;
    box-shadow : 0 0 5px gray;
  }


  div table tbody .table_height {
    height: 25px;
    border-bottom: 1px solid #e5e5e5;
  }

  div table tbody .table_height_2 {
    height: 25px;
  }

  div table tbody .table_height_3 {
    height: 30px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }

  div table tbody .table_height_4 {
    text-align: center;
    height: 30px;
  }

  div div .board_header {
    padding-left: 10px;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
  }

  .color_blue {
    color: #06467c;
    font-weight: 900;
  }

  .dongurami_1 {
    margin-left: 10px;
    bottom: 14px;
    float: left;
    width: 25px;
    height:  25px;
    position: relative;
    border: 2px solid #bababa;
    border-radius: 50%;
    position: relative;
    background-color: #ffffff
  }

  .dongurami_2 {
    margin-left: 32px;
    bottom: 14px;
    float: left;
    width: 25px;
    height:  25px;
    position: relative;
    border: 2px solid #bababa;
    border-radius: 50%;
    position: relative;
    background-color: #ffffff
  }

  .station_line {
    display: block;
    height: 2px;
    border-top: 2px solid #ccc;
    width: 240px;
    position: relative;
    z-index: 10;
    top: 22px;
  }

  .img_class {
    margin-top: 3px;
    height: 15px;
    width: 15px;
  }

  .board_header h4 {
    font-size: 16px;
  }

  .font_size_smaller p {
    font-size: 1px !important;
  }

  .word_chunk {
    border: 0px solid;
    width: 50px;
    z-index: 50;
    float: left;
    margin-left: -10px;
  }

  .word_chunk_2 {
    top: -50px;
    margin-left: 8px;
    border: 0px solid;
    width: 57px;
    z-index: 55;
    float: left;
  }

  .word_chunk_3 {
    top: -50px;
    margin-left: 0px;
    border: 0px solid;
    width: 57px;
    z-index: 55;
    float: left;
  }

  .word_chunk_4 {
    top: -50px;
    margin-left: 1px;
    border: 0px solid;
    width: 57px;
    z-index: 55;
    float: left;
  }
  .word_line_1st {
    top: -8px;
    position: relative;
    z-index: 99;
    margin-bottom: 0;
    margin-top: 0px;
    width: 65px;
  }

  .word_line_2nd {
    position: relative;
    z-index: 30;
    margin-top: -11px;
    margin-bottom: 0;
    width: 65px;
  }

  .word_line_3rd {
    position: relative;
    z-index: 30;
    margin-top: -3px;
    margin-bottom: 0;
    width: 65px;
  }

  .schedule_bus{
    margin-right:6px;
    width:18px;
    height:20px;
  }


}