.nav_ic_div{
    width: 100%;
    position: relative;
}

.nav_ic_left{
    width: 30px;
    height: 30px;
    float: left;
    position:relative;
    margin: 10px 0px 0px 20px;
}

.nav_ic_left img{
    width: 26px;
}

.nav_ic_right img{
    width: 28px;
    height: 28px;
}

.nav_ic_right{
    width: 30px;
    height: 30px;
    float: right;
    position:relative;
    margin: 10px 20px 0 0;
}

.nav_ic_right img{
    width: 26px;
    height: 26px;
}

.navbar-header a{

}

.arrow_go{
    display:inline-block !important;
    width:22px;
    height:22px;
    margin-top: -2px;
    margin-left: 10px;

}

.nav_ic_back{
    width: 30px;
    height: 30px;
    float: left;
    position:relative;
    margin: 10px 0px 0px 20px;
}

.nav_ic_back img{
    height: 22px;
}

ul li{
  list-style-type: none;
}

.bus_line_container{
    text-align: center;
    position: relative;
    z-index: 10;
}

.bus_line{
    margin-top: 90px;
    width: 300px;
    height: 400px;
    border: 2px solid #c4c5c7;
    border-radius: 50px;
    display: inline-block;
    z-index: 15;
    box-sizing: border-box; 
}


.bus_station_section1{
    clear: both;
    width: 250px;
    margin-left: 20px;
    margin-top: -25px;
}

.bus_station_section2{
    clear: both;
    float: left;
    margin-top: 50px;
    width: 337px;
    margin-left: -20px;
}

.bus_station_section3{
    clear: both;
    float: left;
    margin-top: 23px;
    width: 337px;
    margin-left: -20px;
}

.bus_station_section4{
    clear: both;
    float: left;
    margin-top: 23px;
    width: 337px;
    margin-left: -20px;
}

.bus_station_section5{
    clear: both;
    float: left;
    width: 337px;
    margin-left: -20px;
    margin-top: 23px;
}

.bus_station_section6{
    clear: both;
    float: left;
    width: 337px;
    margin-left: -20px;
    margin-top: 23px;
}

.bus_station_section7{
    clear: both;
    float: left;
    width: 250px;
    margin-top: 18px;
    margin-left: 20px;

}

.s1{
    float: left;
    width: 40px;
    height: 40px;
    position: relative;
    border: 2px solid #c4c5c7;
    border-radius: 50%;
}

.s2{
    float: left;
    width: 40px;
    height: 40px;
    position: relative;
    /*border: 2px solid #c4c5c7;
    border-radius: 50%;*/
}


/* before
.bus_ic_dep{
    z-index: 30;
    width:70px;
    margin-top: 30px;
    margin-left: -20px;
    position: relative;
}

.bus_ic_dep img{
    margin-top: -40px;
    width:65px;
    position:relative;
}

.bus_ic_dep span{
    z-index: 35;
    margin-left: -65px;
    position:relative;
    font-size:11px;
}


.bus_ic_station{
    z-index: 30;
    width:70px;
    margin-top: -8px;
    margin-left: -20px;
    position: relative;
}

.bus_ic_station img{
    margin-top: -40px;
    width:65px;
    position:relative;
}


.bus_ic_station span{
    z-index: 35;
    margin-left: -65px;
    position:relative;
    font-size:11px;
}

*/

/*UI test start*/

.bus_ic_dep{
    z-index: 30;
    width:65px;
    position: relative;
    top: 27px;
    left: -13.5px;
    /*display: none;*/
}

.bus_ic_dep img{
    margin-top: -40px;
    width:60px;
    position:relative;
}


.bus_ic_station{
    z-index: 30;
    width:65px;
    top: -46px;
    left: -14px;
    position: relative;
}

.bus_ic_station img{
    width:60px;
    position:relative;
}

.bus_number1{
    position:relative;
    font-size:10px;
    top: -9px;
    color: #78A31D;
}

.bus_number2{
    position:relative;
    font-size:10px;
    top: -18px;
    color: #78A31D;
    display: none;
}



/*UI test end*/


.bus_dep1{
    margin-left: 0px;
}

.bus_station_sequence1{
    margin-left: 65px;
    background-color: #ffffff;
}

.sequence1_arrow{
    width: 37px;
    height: 37px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);;
}

.bus_dep4{
    float: left;
}

.bus_dep6{
    float: right;
}

.bus_dep8{
    float: right;
}

.bus_dep9{
    float: right;
}


.bus_dep10{
    float: right;
}

.bus_station_sequence2{
    background-color: #ffffff;
}

.sequence2_arrow{
    width: 37px;
    height: 37px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);;
}


.bus_station_sequence8{
    float: right;
    background-color: #ffffff;
}

.sequence10_arrow{
    width: 37px;
    height: 37px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);;
}

.bus_station_sequence3{
    background-color: #ffffff;
}

.bus_station_sequence9{
    float: right;
    background-color: #ffffff;
}


.bus_station_sequence4{
    background-color: #ffffff;
}

.bus_station_sequence10{
    float: right;
    background-color: #ffffff;
}


.bus_station_sequence6{
    background-color: #ffffff;
    margin-left: 65px;
}

.sequence6_arrow{
    width: 37px;
    height: 37px;
    position:relative;
    z-index:25;
}


.bus_info_container{
    clear: both;
    text-align: center;
    position: relative;
    z-index: 50;
    margin-top: -494px;
}

.bus_info{
    clear: both;
    margin-top: 90px;
    width: 300px;
    height: 400px;
    /*border: 2px solid red;*/
    border-radius: 50px;
    display: inline-block;
    box-sizing: border-box;
}

.bus_info_section1{
    clear: both;
    margin-top: 36px;
    text-align: center;
}

.bus_info_section2{
    margin-top: -25px;
    float: left;
    position: relative;
    width:300px;
    box-sizing: border-box; 
}

.bus_info_section3{
    clear:both;
    margin-top: 65px;
    float: left;
    position: relative;
    width:300px;
    box-sizing: border-box; 
}

.bus_info_section4{
    clear:both;
    margin-top: 65px;
    float: left;
    position: relative;
    width: 300px;
    box-sizing: border-box; 
}

.bus_info_section5{
    clear: both;
    float: left;
    margin-top: 75px;
    text-align: center;
    position: relative;
    width: 300px;
    box-sizing: border-box; 
}

.bus_info_name1{
    width: 90px;
    display: inline-block;
}

.bus_info_name2{
    float: left;
    width: 90px;
    position:relative;
    margin-left: 25px;
}

.bus_info_name10{
    float: right;
    width: 90px;
    position:relative;
    margin-right: 25px;
}

.bus_info_name3{
    float: left;
    width: 90px;
    position:relative;
    margin-left: 25px;
}

.bus_info_name9{
    float: right;
    width: 90px;
    position:relative;
    margin-right: 25px;
}

.bus_info_name4{
    float: left;
    width: 90px;
    position:relative;
    margin-left: 25px;
}

.bus_info_name8{
    float: right;
    width: 90px;
    position:relative;
    margin-right: 25px;
}

.bus_info_name6{
    width: 90px;
    display: inline-block;
}


.info_name{
    margin: 0px;
    font-size: 12px;
}

.info_arrival{
    margin: 0px;
    font-size: 12px;
    color: #E27225;
}

.info_detail{
    width:  58px;
    font-size: 10px;
    border: 1px solid #878787;
    border-radius: 5px;
    display: inline-block;
    color: #878787;
}

.info_detail p{
    margin: 0px;
}

.button_refresh{
    /*border: 1px solid;*/
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    float: left;
    top: -50px;
    left: 250px;
}

.button_refresh img{
    width: 65px;
    height: 65px;
}


