<div class="container">
  <!-- Navigation_Top -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" >
        <div class="nav_ic_back">
          <a href="/main">
            <%= image_tag("skkbus_ic_arrow_back.png", class: "arrow_back") %></a>
        </div>
        <a class="navbar-brand topnav" style="font-family: Nunito; margin-left:-30px;" href="/home/mainpage_top" ><span style="font-family: Nunito; font-weight: 500; font-size: 16px;">About us</span></a>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</div>

<br><br><br><br>
인포메이션